.field_with_errors { display: inline; }
.content {
  max-width: 100%;
  line-height: 1em;
  font-size: 1em;
}
.content p {
  line-height: 1em;
  font-size: 0.9em;
}
.ui-widget{ 
  font-size:0.75em; 
}
.ui-widget {
  font-family: "proxima-nova", sans-serif;
}
